<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>교육 과정</title>

    <meta name="viewport"
          content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0, shrink-to-fit=no"/>

    <meta property="og:title" content="지누스쿠버"/>
    <meta property="og:description" content="너도 다이빙할 수 이써!"/>
    <meta property="og:url" content="scubawithgnb.shop"/>
    <meta property="og:image" content="{{ url_for('static', filename='nudi.png') }}"/>

    <!--  font  -->
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!--  css  -->
    <link rel="stylesheet" type="text/css" href="static/index.css"/>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="jumbotron">
    <h1 class="display-4">안녕하세요~!</h1>
    <p class="lead">다이빙 배우실 준비 되셨나요!?</p>
    <hr class="my-4">
    <p>IANTD 강사 배진우 입니다!</p>
    <div role="navigation">
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item"><a class="nav-link" href="/">메인</a></li>
            <li class="nav-item"><a class="nav-link" href="introduce">강사 소개</a></li>
            <li class="nav-item"><a class="nav-link active" href="course">교육 과정</a></li>
            <li class="nav-item"><a class="nav-link" href="board">질의 게시판</a></li>
            <li class="nav-item"><a class="nav-link" href="photo">다이빙 사진</a></li>
            <li class="nav-item"><a class="nav-link" href="plan">다이빙 일정</a></li>
        </ul>
    </div>
</div>
<div class="jumbotron">
    <h1 class="display-4">오픈워터 다이버 과정</h1>
    <p class="lead">다이빙의 시작</p>
    <hr class="my-4">
</div>
<div class="jumbotron">
    <h1 class="display-4">체험다이빙</h1>
    <p class="lead">스쿠버 다이빙 맛보기를 원하시는분!</p>
    <hr class="my-4">
</div>
</body>
</html>