<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">

    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>지누스쿠버</title>
    {% endif %}
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>-->
    <meta name="viewport"
          content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0, shrink-to-fit=no"/>

    <meta property="og:title" content="지누스쿠버"/>
    <meta property="og:description" content="너도 다이빙할 수 이써!"/>
    <meta property="og:url" content="scubawithgnb.shop"/>
    <meta property="og:image" content="{{ url_for('static', filename='nudi.png') }}"/>


    <!--  font  -->
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

     <!--  css  -->
    <link rel="stylesheet" type="text/css" href="static/index.css"/>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script>
        //핸드폰 화면일때
        $(function () {
            $(window).resize(function () {
                let width = $(window).width();
                if (width < 576) {
                    $('#number').removeClass('col-1');
                    $('#number').addClass('col-2');
                    $('#secrete').removeClass('col-1');
                    $('#secrete').addClass('col-2');
                    $('secrete-content').removeClass('col-1');
                    $('secrete-content').addClass('col-2');
                } else {
                    $('#number').removeClass('col-2');
                    $('#number').addClass('col-1');
                    $('#secrete').removeClass('col-2');
                    $('#secrete').addClass('col-1');
                    $('secrete-content').removeClass('col-2');
                    $('secrete-content').addClass('col-1');
                }
            });

            $(window).trigger("resize");
        });

        //게시판 글들에 클릭이벤트 부여
        $(document).ready(function () {
            getCommunity()
            $('#conmmunity-contents').on("click", "div#contents", function () {
                if ($(this).children("#contents-index").children("#info").children("#secrete").text() == "O" && !$(this).children("#contents-index").children("#contents-text").is(":visible")) {
                    let pw = prompt("비밀번호를 입력하세요");
                    if (pw == null) {
                        return;
                    } else if (pw != $(this).children("#contents-index").children("#info").children("#pw").text()) {
                        alert("비밀번호가 틀렸습니다");
                        return;
                    }
                }
                if ($(this).children("#contents-index").children("#contents-text").is(":visible")) {
                    $(this).children("#contents-index").children("#contents-text").hide();
                    $(this).children("#fix-del").hide();

                } else {
                    $(this).children("#contents-index").children("#contents-text").css("display", "flex");
                    $(this).children("#fix-del").css("display", "flex");
                }
                if ($(this).children("#info").hasClass("list-group-item-secondary")) {
                    $(this).children("#info").removeClass("list-group-item-secondary");
                } else {
                    $(this).children("#info").addClass("list-group-item-secondary");
                }
            });

            //게시글 삭제
            deleteCommunity();

            //게시글 수정
            fixCommunity();
        });

        //get 방식으로 db에서 게시글 가져와
        function getCommunity() {
            $.ajax({
                type: "GET",
                url: "/community-form",
                data: {},
                success: function (response) {
                    if (response["result"] == "success") {
                        let communities = response["communities"];
                        for (let i = 0; i < communities.length; i++) {
                            let name = communities[i]['community_name'];
                            let password = communities[i]['community_password'];
                            let title = communities[i]['community_title'];
                            let text = communities[i]['community_text'];
                            let secrete = communities[i]['community_secrete'];
                            let id = communities[i]['community_id'];

                            let width = $(window).width();
                            let res = "";
                            if (width < 576) {
                                res = "col-2"
                            } else {
                                res = "col-1"
                            }

                            let tmp_html = `<div id="contents" class="list-group-item list-group-item-action">
                                                <div id="contents-index">
                                                    <div id="info" class="row">
                                                        <div id="number" class=${res}>${i + 1}</div>
                                                        <div id="name" class="col-2">${name}</div>
                                                        <div id="title" class="col">${title}</div>
                                                        <div id="secrete" class=${res}>${secrete}</div>
                                                        <div id="pw">${password}</div>
                                                        <div id="id">${id}</div>
                                                    </div>
                                                    <div id="contents-text" class="row">
                                                        <div id="secrete-content" class=${res}>내용</div>
                                                        <div id="content" class="col">${text}</div>
                                                    </div>
                                                </div>
                                                <div id="fix-del" class="row">
                                                    <div id="fix" class="col-1 offset-md-10">수정</div>
                                                    <div id="del" class="col-1">삭제</div>
                                                </div>
                                            </div>`;
                            $('#conmmunity-contents').append(tmp_html);
                        }
                    } else {
                        alert("리뷰를 받아오지 못했습니다");
                    }
                }
            });
        };

        //post 방식으로 db에 글 저장해
        function writeCommunity(tmp) {
            let name = $('#community-name').val();
            let password = $('#community-password').val();
            let title = $('#community-title').val();
            let text = $('#community-text').val();
            text = text.replace(/(?:\r\n|\r|\n)/g, '<br />');
            let secrete = '';
            $('#community-secrete').is(":checked") ? secrete = "O" : secrete = "X";
            let id = $('#community-id').val();

            if (tmp == '작성') {
                if ($('#conmmunity-contents').children('#contents').length == 0) {
                    id = 0;
                } else {
                    id = Number($('#conmmunity-contents').children('#contents').last().find("#id").text()) + 1;
                }
                $.ajax({
                    type: "POST",
                    url: "/community-form",
                    data: {name: name, password: password, text: text, secrete: secrete, title: title, id: id},
                    success: function (response) {
                        if (response["result"] == "success") {
                            alert(response["msg"]);
                            window.location.reload();
                        }
                    }
                });
            } else if (tmp == '수정') {
                //비밀번호 물어봐
                let pw = prompt("비밀번호를 입력하세요");
                if (password == pw) {
                    alert("비밀번호 확인");
                    $.ajax({
                        type: "POST",
                        url: "/community-form/fix",
                        data: {name: name, password: password, text: text, secrete: secrete, title: title, id: id},
                        success: function (response) {
                            if (response["result"] == "success") {
                                alert(response["msg"]);
                                window.location.reload();
                            }
                        }
                    });
                } else {
                    alert("비밀번호 틀림");
                }
            }

        };

        //게시글 작성 펼치기
        function toggleWrite(tmp) {
            if (tmp == "닫기") {
                $('#write-btn').text('글쓰기');
                $('#community-name').val('');
                $('#community-password').val('');
                $('#community-title').val('');
                $('#community-text').val('');
                $('#community-secrete').prop('checked', false)
                $('#write-community').hide();
            } else {
                $('#write-btn').text('닫기');
                $('#write-community-btn').text('작성');
                $('#write-community').show();
            }
        };

        //게시글 삭제
        function deleteCommunity() {
            $('#conmmunity-contents').on("click", "#del", function (event) {
                let id = $(this).parent().parent().children("#contents-index").children("#info").children("#id").text();
                let password = $(this).parent().parent().children("#contents-index").children("#info").children("#pw").text();
                let pw = prompt("비밀번호를 입력하세요");
                if (password == pw) {
                    alert("비밀번호 확인");
                    $.ajax({
                        type: "POST",
                        url: "/community-form/del",
                        data: {id: id},
                        success: function (response) {
                            if (response["result"] == "success") {
                                alert(response["msg"]);
                                window.location.reload();
                            }
                        }
                    });
                } else {
                    alert("비밀번호 틀림");
                }
                event.stopPropagation();
            });
        }

        //게시글 수정
        function fixCommunity() {
            $('#conmmunity-contents').on("click", "#fix", function (event) {
                let name = $(this).parent().parent().children("#contents-index").children("#info").children("#name").text();
                let title = $(this).parent().parent().children("#contents-index").children("#info").children("#title").text();
                let pw = $(this).parent().parent().children("#contents-index").children("#info").children("#pw").text();
                let secrete = $(this).parent().parent().children("#contents-index").children("#info").children("#secrete").text();
                let content = $(this).parent().parent().children("#contents-index").children("#contents-text").children("#content").html().replace("<br>", "\n");
                let id = $(this).parent().parent().children("#contents-index").children("#info").children("#id").text();

                $('#write-btn').text('닫기');
                $('#write-community-btn').text('수정');
                $('#community-name').val(name);
                $('#community-title').val(title);
                $('#community-password').val(pw);
                $('#community-text').val(content);
                $('#community-id').val(id);
                if (secrete == 'O') {
                    $('#community-secrete').prop("checked", true);
                }
                $('#write-community').show();
                event.stopPropagation();
            });
        }

    </script>
</head>
<body>
<!--<div class="jumbotron">-->
<!--    <h1 class="display-4">안녕하세요~!</h1>-->
<!--    <p class="lead">다이빙 배우실 준비 되셨나요!?</p>-->
<!--    <hr class="my-4">-->
<!--    <p>IANTD 강사 배진우 입니다!</p>-->
<!--    <div role="navigation">-->
<!--        <ul class="nav nav-tabs nav-justified">-->
<!--            &lt;!&ndash;            <li role="presentation"><a class="btn btn-primary btn-lg" href="#" role="button">강사 소개</a></li>&ndash;&gt;-->
<!--            &lt;!&ndash;            <li role="presentation"><a class="btn btn-primary btn-lg" href="#" role="button">교육 과정</a></li>&ndash;&gt;-->
<!--            &lt;!&ndash;            <li role="presentation"><a class="btn btn-primary btn-lg" href="#" role="button">질의 게시판</a></li>&ndash;&gt;-->
<!--            &lt;!&ndash;            <li role="presentation"><a class="btn btn-primary btn-lg" href="#" role="button">다이빙 사진</a></li>&ndash;&gt;-->
<!--            &lt;!&ndash;            <li role="presentation"><a class="btn btn-primary btn-lg" href="#" role="button">다이빙 일정</a></li>&ndash;&gt;-->
<!--            <li class="nav-item"><a class="nav-link active" href="/">메인</a></li>-->
<!--            <li class="nav-item"><a class="nav-link" href="introduce.html">강사 소개</a></li>-->
<!--            <li class="nav-item"><a class="nav-link" href="course.html">교육 과정</a></li>-->
<!--            <li class="nav-item"><a class="nav-link" href="board.html">질의 게시판</a></li>-->
<!--            <li class="nav-item"><a class="nav-link" href="photo.html">다이빙 사진</a></li>-->
<!--            <li class="nav-item"><a class="nav-link" href="schedule.html">다이빙 일정</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="jumbotron">-->
<!--    <h1 class="display-4">오픈워터 다이버 과정</h1>-->
<!--    <p class="lead">OpenWater Diver Course</p>-->
<!--    <hr class="my-4">-->
<!--    <p>스쿠버 다이버가 되는 첫 단계입니다. 기본적으로 갖추어야 할 지식과 다이빙 스킬을 배우는 과정입니다.</p>-->
<!--    <a class="btn btn-primary btn-lg" href="course.html" role="button">과정 소개</a>-->
<!--</div>-->
<!--<div class="jumbotron">-->
<!--    <h1 class="display-4">체험다이빙</h1>-->
<!--    <p class="lead">스쿠버 다이빙 맛보기를 원하시는분!</p>-->
<!--    <hr class="my-4">-->
<!--    <p></p>-->
<!--    <a class="btn btn-primary btn-lg" href="course.html" role="button">과정 소개</a>-->
<!--</div>-->
<!--<div class="container wrap">-->
<!--    <div id="conmmunity-contents" class="list-group">-->
<!--        <div class="list-group-item list-group-item-dark">-->
<!--            <div class="row">-->
<!--                <div id="number" class="col-1">글목록</div>-->
<!--                <div id="name" class="col-2">작성자</div>-->
<!--                <div id="title" class="col">제목</div>-->
<!--                <div id="secrete" class="col-1">비밀글</div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col">-->
<!--            <button id="write-btn" type="button" class="btn btn-primary float-right" onclick="toggleWrite(this.innerHTML)">글쓰기</button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div id="write-community" class="container wrap">-->
<!--    <div class="row">-->
<!--        <div class="col">-->
<!--            <label for="community-name">작성자</label>-->
<!--            <input type="text" class="form-control " id="community-name" name="community-name">-->
<!--        </div>-->
<!--        <div class="col">-->
<!--            <label for="community-password">비밀번호</label>-->
<!--            <input type="password" class="form-control" id="community-password" name="community-password">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col">-->
<!--            <label for="community-title">제목</label>-->
<!--            <input type="text" class="form-control" id="community-title" name="community-title">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col">-->
<!--            <label for="community-text">내용</label>-->
<!--            <textarea class="form-control" id="community-text" name="community-text" rows="3"></textarea>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col">-->
<!--            <input type="checkbox" id="community-secrete" name="community-secrete">-->
<!--            <input type="checkbox" id="community-id" name="community-secrete" style="display:none;">-->
<!--            <label for="community-secrete">비공개</label>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col">-->
<!--            <button id="write-community-btn" type="button" class="btn btn-primary" onclick="writeCommunity(this.innerHTML)">작성</button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
{% block content %}{% endblock %}
</body>
</html>