{% extends 'index.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">안녕하세요~!</h1>
    <p class="lead">다이빙 배우실 준비 되셨나요!?</p>
    <hr class="my-4">
    <p>IANTD 강사 배진우 입니다!</p>
    <div role="navigation">
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item"><a class="nav-link active" href="/">메인</a></li>
            <li class="nav-item"><a class="nav-link" href="introduce">강사 소개</a></li>
            <li class="nav-item"><a class="nav-link" href="course">교육 과정</a></li>
            <li class="nav-item"><a class="nav-link" href="board">질의 게시판</a></li>
            <li class="nav-item"><a class="nav-link" href="photo">다이빙 사진</a></li>
            <li class="nav-item"><a class="nav-link" href="schedule">다이빙 일정</a></li>
        </ul>
    </div>
</div>
<div class="jumbotron">
    <h1 class="display-4">오픈워터 다이버 과정</h1>
    <p class="lead">OpenWater Diver Course</p>
    <hr class="my-4">
    <p>스쿠버 다이버가 되는 첫 단계입니다. 기본적으로 갖추어야 할 지식과 다이빙 스킬을 배우는 과정입니다.</p>
    <a class="btn btn-primary btn-lg" href="course" role="button">과정 소개</a>
</div>
<div class="jumbotron">
    <h1 class="display-4">체험다이빙</h1>
    <p class="lead">스쿠버 다이빙 맛보기를 원하시는분!</p>
    <hr class="my-4">
    <p></p>
    <a class="btn btn-primary btn-lg" href="course" role="button">과정 소개</a>
</div>
<div class="container wrap">
    <div id="conmmunity-contents" class="list-group">
        <div class="list-group-item list-group-item-dark">
            <div class="row">
                <div id="number" class="col-1">글목록</div>
                <div id="name" class="col-2">작성자</div>
                <div id="title" class="col">제목</div>
                <div id="secrete" class="col-1">비밀글</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button id="write-btn" type="button" class="btn btn-primary float-right" onclick="toggleWrite(this.innerHTML)">글쓰기</button>
        </div>
    </div>
</div>
<div id="write-community" class="container wrap">
    <div class="row">
        <div class="col">
            <label for="community-name">작성자</label>
            <input type="text" class="form-control " id="community-name" name="community-name">
        </div>
        <div class="col">
            <label for="community-password">비밀번호</label>
            <input type="password" class="form-control" id="community-password" name="community-password">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="community-title">제목</label>
            <input type="text" class="form-control" id="community-title" name="community-title">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="community-text">내용</label>
            <textarea class="form-control" id="community-text" name="community-text" rows="3"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="checkbox" id="community-secrete" name="community-secrete">
            <input type="checkbox" id="community-id" name="community-secrete" style="display:none;">
            <label for="community-secrete">비공개</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button id="write-community-btn" type="button" class="btn btn-primary" onclick="writeCommunity(this.innerHTML)">작성</button>
        </div>
    </div>
</div>
{% endblock %}