<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>일정</title>

    <meta name="viewport"
          content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0, shrink-to-fit=no"/>

    <meta property="og:title" content="지누스쿠버"/>
    <meta property="og:description" content="너도 다이빙할 수 이써!"/>
    <meta property="og:url" content="scubawithgnb.shop"/>
    <meta property="og:image" content="{{ url_for('static', filename='nudi.png') }}"/>

    <!--  font  -->
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous">

    <!--  css  -->
    <link rel="stylesheet" type="text/css" href="static/index.css"/>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <style>
        .wrapper {
            padding-bottom: 16px;
        }

        #calendar {
            /*background-color: mediumseagreen;*/
        }

        .calendar-cell {
            border: 1px solid black;
            background-color: darkgrey;
            margin: 2px;
            padding: 10px;
        }

        .caldendar-head .col {
            border: 1px solid black;
            border-radius: 5px;
            margin: 2px;
            background-color: lightgreen;
        }

        #main {
            /*padding: 3rem 2rem;*/
        }

        .month {
            text-align: center;
        }

        .btn-light {
            background-color: goldenrod;
        }

        .col {
            border-radius: 5px;
        }

        .list {
            text-align: right;
            color: black;
        }

        .weekend {
            color: red;
        }

        .present-month {
            background-color: indianred;
        }
    </style>

    <script>
        //document ready
        $(document).ready(function () {
            let today = new Date();
            let month = today.getUTCMonth();
            let year = today.getUTCFullYear();
            change_calendar(year, month);

            //console.log($('#main').height());
            //console.log($('html').height());
            //console.log($('#main').outerHeight(true));
            //console.log($('body').height() - $('#main').outerHeight(true) - 16);
            //$('.wrapper').height($('body').height() - $('#main').outerHeight(true) - 16);

            $('.calendar-cell').height($('.calendar-cell').width());

            $(window).resize(function () {
                //console.log("resize");
                //$('.wrapper').height($('body').height() - $('#main').outerHeight(true) - 16);
                $('.calendar-cell').height($('.calendar-cell').width());
            });

            // insert_schedule(2020, 11, 2, 2020, 11, 5, '테스트0');
            // insert_schedule(2020, 11, 6, 2020, 11, 7, '테스트1');
            // insert_schedule(2020, 11, 30, 2020, 12, 8, '테스트2');
            // insert_schedule(2020, 10, 20, 2020, 11, 1, '테스트3');
            // insert_schedule(2020, 10, 9, 2020, 10, 11, '테스트4');
            // insert_schedule(2019, 12, 1, 2020, 12, 3, '테스트5');
            // insert_schedule(2020, 12, 29, 2021, 1, 2, '테스트6');
            // insert_schedule(2021, 1, 9, 2021, 1, 14, '테스트7');

        });

        //원하는 달로 달력 바꿔
        function change_calendar(year, month) {
            console.log("change_calendar()");
            let num = get_month(year, month);//today.getUTCMonth()
            getSchedule(year, month, num);

            let m = 0;//이번달인지 아닌지 구분
            //css 변경
            // $('.calendar-cell').each(function (index) {
            //     if (m == 0) {
            //         //저번달
            //         $(this).css("background-color", "darkgray");
            //         if (num[index] == 1) {
            //             //이번달 1일
            //             m = 1;
            //             $(this).css("background-color", "indianred");
            //         }
            //     } else {
            //         //이번달
            //         $(this).css("background-color", "indianred");
            //         if (num[index] == 1) {
            //             //다음달 1일
            //             m = 0;
            //             $(this).css("background-color", "darkgray");
            //         }
            //     }
            // });
        }

        //원하는 달의 달력에 쓰일 숫자들 가져와
        function get_month(y, m) {
            let num = [];
            //원하는 달 월, 일수, 오늘, 요일 체크
            let today = new Date(new Date().setUTCFullYear(y, m, 1));//원하는 달 1일
            let month = m;//이번달
            let year = y;//이번년도
            let month_date = find_month_last_date(month, year);//일수
            let month_day = today.getUTCDay();//1일 요일
            let today_date = today.getUTCDate();//1일 일

            console.log(today, (month + 1) + "월", month_date + "일", month_day + "요일", "오늘은 " + today_date);

            //보여줄 이전달 일
            if (month_day > 0) {
                //달력에 쓸 숫자 체크
                let prev_month_last_date = find_month_last_date(month - 1, year);
                console.log(month, prev_month_last_date);
                console.log("앞에 필요한 일수는 " + month_day + "개 입니다");
                console.log((prev_month_last_date - (month_day - 1)) + "부터 " + prev_month_last_date + "까지");
                for (let i = 0; i < month_day; i++) {
                    num.push(prev_month_last_date - (month_day - 1) + i);
                }
            }

            let need = 42 - month_day - month_date;
            //보여줄 이번달 일
            for (let i = 0; i < month_date + need; i++) {
                if (i < month_date) {
                    //이번달
                    num.push(i + 1);
                } else {
                    //다음달
                    num.push(i - month_date + 1);
                }
            }
            //num.push();
            //console.log(num);
            return num;
        }

        //month의 일수 체크
        function find_month_last_date(month, year) {
            console.log("find_month_last_date : ", month, year);
            if (month == -1) {
                month = 11;
            }
            if (month == 0 || month == 2 || month == 4 || month == 6 || month == 7 || month == 9 || month == 11) {
                return 31;
            } else if (month == 1) {
                if (year % 4 == 0) {
                    return 29;
                } else {
                    return 28;
                }
            } else {
                return 30;
            }
        }

        function insert_schedule(start_year, start_month, start_date, end_year, end_month, end_date, title) {
            $.ajax({
                type: "POST",
                url: "/schedule/save-schedule",
                data: {start_year: start_year, start_month: start_month, start_date: start_date, end_year: end_year, end_month: end_month, end_date: end_date, title: title},
                success: function (response) {
                    if (response["result"] == "success") {
                        alert(response["msg"]);
                        //window.location.reload();
                    }
                }
            });
        }

        //방향 버튼 눌리면
        function changeMonth(target) {
            let arrow = $(target).text();
            let y = $('#month').text().split(" ")[0].slice(0, -1)
            let m = $('#month').text().split(" ")[1].slice(0, -1);//보여주는 달
            if (arrow == '<') {
                m = m - 1;

            } else if (arrow == '>') {
                m = m - 1 + 2;
            }
            if (m == 13) {
                m = 1;
                y = y - 1 + 2;
            } else if (m == 0) {
                m = 12;
                y = y - 1;
            }
            $('#month').text(y + "년 " + m + "월");
            // let num = get_month(y, m-1);
            // console.log("바뀐 달 : " + num);
            change_calendar(y, m - 1);
        }

        //일정 가져와
        function getSchedule(year, month, num) {
            console.log("getSchedule()");
            month = month + 1;
            $('#month').text(year + "년 " + month + '월');
            console.log(year + " " + month + "의 달력에 쓸 일정 가져와");
            console.log("달력 숫자들 : ", num);
            $.ajax({
                type: "GET",
                url: "/schedule/get-schedule",
                data: {year: year, month: month},
                success: function (response) {
                    if (response["result"] == "success") {

                        let m = 0;//이번달인지 아닌지 구분
                        $('.calendar-cell').each(function (index) {
                            $(this).children('.date').text(num[index]);
                            $(this).children('.list').text("");

                            if (m == 0) {
                                //저번달
                                $(this).removeClass("present-month");
                                if (num[index] == 1) {
                                    //이번달 1일
                                    m = 1;
                                    $(this).addClass("present-month");
                                }
                            } else {
                                //이번달
                                $(this).addClass("present-month");
                                if (num[index] == 1) {
                                    //다음달 1일
                                    m = 0;
                                    $(this).removeClass("present-month");
                                }
                            }
                        });
                        let schedules = response['schedule'];

                        for (let i = 0; i < schedules.length; i++) {
                            let start_year = schedules[i]['start_year'];
                            let start_month = schedules[i]['start_month']*1;
                            let start_date = schedules[i]['start_date']*1;
                            let end_month = schedules[i]['end_month']*1;
                            let end_date = schedules[i]['end_date']*1;
                            let end_year = schedules[i]['end_year'];
                            let title = schedules[i]['title'];
                            console.log(start_year, start_month, start_date, end_year, end_month, end_date, title);


                            $('.present-month').each(function (index) {
                                if (start_month !== month)//이전부터 이번달까지 일정
                                {
                                    if((index + 1) <= end_date)
                                    {
                                        $(this).children('.list').text(title);
                                    }
                                }
                                else if (start_month === month && month === end_month)//이번달 일정
                                {
                                    if(start_date <= (index + 1) && (index + 1) <= end_date)
                                    {
                                        $(this).children('.list').text(title);
                                    }
                                }
                                else if (start_month === month && month !== end_month)//이번달부터 다음까지 일정
                                {
                                    if(start_date <= (index + 1))
                                    {
                                        $(this).children('.list').text(title);
                                    }
                                }
                            });
                        }
                    }
                }
            });
        }
    </script>
</head>
<body>
<div class="jumbotron" id="main">
    <h1 class="display-4">안녕하세요~!</h1>
    <p class="lead">다이빙 배우실 준비 되셨나요!?</p>
    <hr class="my-4">
    <p>IANTD 강사 배진우 입니다!</p>
    <div role="navigation">
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item"><a class="nav-link" href="/">메인</a></li>
            <li class="nav-item"><a class="nav-link" href="introduce">강사 소개</a></li>
            <li class="nav-item"><a class="nav-link" href="course">교육 과정</a></li>
            <li class="nav-item"><a class="nav-link" href="board">질의 게시판</a></li>
            <li class="nav-item"><a class="nav-link" href="photo">다이빙 사진</a></li>
            <li class="nav-item"><a class="nav-link active" href="schedule">다이빙 일정</a></li>
        </ul>
    </div>
</div>
<div class="wrapper">
    <div id="calendar" class="container">
        <div class="row ">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col month btn-light" onclick="changeMonth(this);"><</div>
            <div id="month" class="col month">11월</div>
            <div class="col month btn-light" onclick="changeMonth(this);">></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row caldendar-head">
            <div class="col">
                일
            </div>
            <div class="col">
                월
            </div>
            <div class="col">
                화
            </div>
            <div class="col">
                수
            </div>
            <div class="col">
                목
            </div>
            <div class="col">
                금
            </div>
            <div class="col">
                토
            </div>
        </div>
        <div class="row">
            <div class="col calendar-cell weekend">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell weekend">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="w-100"></div>
            <div class="col calendar-cell weekend">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell weekend">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="w-100"></div>
            <div class="col calendar-cell weekend">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell weekend">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="w-100"></div>
            <div class="col calendar-cell weekend">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell weekend">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="w-100"></div>
            <div class="col calendar-cell weekend">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell weekend">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="w-100"></div>
            <div class="col calendar-cell weekend">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell">
                <div class="date"></div>
                <div class="list"></div>
            </div>
            <div class="col calendar-cell weekend">
                <div class="date"></div>
                <div class="list"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>